html {
  font-size: 16px;
}

html,
body {
  width: 100%;
  // height: 100%;
  position: relative;
  // overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  // min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: 1.5;
  font-family: $font-family-base;
  background: #FFFFFF;
}

div {
  box-sizing: border-box;
}

html,
body {
  &[dir='rtl'],
  &[dir='ltr'] {
    unicode-bidi: embed;
  }
}

bdo[dir='rtl'] {
  direction: rtl;
  unicode-bidi: bidi-override;
}

bdo[dir='ltr'] {
  direction: ltr;
  unicode-bidi: bidi-override;
}


a,
a:focus,
a:hover {
  text-decoration: none;
}

a {
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0 0 16px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}

.h1,
h1 {
  font-size: 2rem;
}

.h2,
h2 {
  font-size: 1.75rem;
}

.h3,
h3 {
  font-size: 1.5rem;
}

.h4,
h4 {
  font-size: 1.25rem;
}

.h5,
h5 {
  font-size: 1rem;
}

.h6,
h6 {
  font-size: 0.75rem !important;
}

/*---- Common -----*/
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.bg-none {
  background: transparent !important;
}

.bg-white {
  background: #ffffff !important;
}

.h-full {
  height: 100vh;
}
.w-full {
  width: 100vw;
}
.fix {
  position: relative;
  overflow: hidden;
}

.fix-elm::after {
  display: table;
  width: 100%;
  content: '';
}

.mat-box-shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}

.light-gray {
  background: rgba(0, 0, 0, 0.024);
}

.light-mat-gray {
  background: rgba(0, 0, 0, 0.08);
}

.primary-color-blue {
  color: #144E9D;
}
.primary-background-blue {
  background: #144E9D;
}
.color-blue {
  color: #ABD9FF;
}
.back-ground-blue{
  background: #ECF2F9;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-light {
  font-weight: 300 !important;
}

.font-normal {
  font-weight: normal !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.text-white {
  color: #ffffff !important;
}

.text-gray {
  color: #6E6E71;
}

.text-sm {
  font-size: 0.813rem;
}

.full-width {
  width: 100% !important;
}

.w-70 {
  width: 70% !important;
}

.w-50 {
  width: 50% !important;
}

.position-ab{
  position: absolute;
}
.position-re{
  position: relative;
}

.logo {
  background: url("../../../../assets/images/logos/02.png") no-repeat;
  background-size: 500px 150px;
  width: 500px;
  height: 150px;
}
.img-cloud {
  background-image: url('../../../../assets/images/sources/cloud.png');
  background-repeat: no-repeat;
  height: 212px;
  background-size: 212px;
  opacity: 0.4;
}
.mat-stroked-button {
  border-radius: 10px !important;
  border: solid 1px #144E9D !important;
  color: #144E9D !important;
}
.mat-stroked-button:hover {
  background: #ABD9FF;
}