<!--<div fxLayout="column" fxLayoutAlign="space-between none">-->
<!--    <div class="py-4 back-ground-blue" fxLayout="column" fxLayoutAlign="start center">-->
<!--        <div class="logo-footer"></div>-->
<!--        <div class="w-70 text-center mt-2 fz-1 fz-500 primary-color-blue">If you tired, just stop</div>-->
<!--    </div>-->
    <div class="text-center py-2 back-ground-blue primary-color-blue">
        Copyright © 2022 Designed by <span class="fw-600">chromosome</span>
    </div>
<!--</div>-->