<div fxLayout="column" fxLayoutAlign="space-between none">
    <div class="py-4 back-ground-blue" fxLayout="column" fxLayoutAlign="start center">
        <div class="logo"></div>
        <div class="w-70 text-center mt">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur.
        </div>
    </div>
    <div class="text-center py-2 text-white" style="background-color: #ABD9FF;">
        Copyright © 2022 Designed by <span class="fw-600">chromosome</span>
    </div>
</div>